body{
  background-color: #1cbb9b;
}
.login-box{


    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
  	margin: auto;
  	
  	width: 40%;
  	height: 90%;
  	background-color: #fff;
  	background: rgba(100, 95, 100, 0.8);
  	padding: 10px;
  	border-radius: 8px;
  	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
}

table {
    margin-left:auto; 
    margin-right:auto;
  }
.lb-header{
  position:relative;
  color: #00415f;
  margin: 5px 5px 10px 5px;
  padding-bottom:10px;
  border-bottom: 1px solid #eee;
  text-align:center;
  height:28px;
}
.lb-header a{
  margin: 0 25px;
  padding: 0 20px;
  text-decoration: none;
  color: #029f5b;
  font-weight: bold;
  font-size: 15px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.lb-header .active{
  color: #fff;
  font-size: 18px;
}

.username-login,.username-signup{
  position:relative;
  float: left;
  width: 100%;
  height:auto;
  margin-top: 20px;
  text-align:center;
}
.u-form-group{
  width:10%;
  margin-bottom: 10px;
}
.u-form-group input[type="text"],
.u-form-group input[type="password"],
.u-form-group input[type="email"]{
  width: 400px;
  height:45px;
  outline: none;
  border: 1px solid #ddd;
  padding: 0 10px;
  border-radius: 2px;
  color: #333;
  font-size:0.8rem;
  -webkit-transition:all 0.1s linear;
  -moz-transition:all 0.1s linear;
  transition:all 0.1s linear;
}
.u-form-group input:focus{
  border-color: #358efb;
}
/* .u-form-group button{ */
/*   width:50%; */
/*   background-color: #1CB94E; */
/*   border: none; */
/*   outline: none; */
/*   color: #fff; */
/*   font-size: 1px; */
/*   font-weight: normal; */
/*   padding: 14px 0; */
/*   border-radius: 2px; */
/*   text-transform: lowercase; */
/* } */
.forgot-password{
  width:50%;
  text-align: left;
  text-decoration: underline;
  color: #fff;
  font-size: 0.75rem;
}
.button {
	float:right;
	margin:auto;
	width:50%;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
